p.sea
{
    font-size:20px;
    font-weight:bold;
    font-family:carbel;
    font-style:carbel;
    color:#F00;
}
table.sea1
{
   font-size:20px;
   color:black;
   width:200px;
   height:200px;
}
p.wq
{
    font-size:20px;
    font-weight:bold;
    color:#63F;
}


